@use '../../../styles/variables';

.toast {
  z-index: 3;
}

.mainContent {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: variables.$color-light-gray;

  &__hero {
    position: absolute;
    z-index: 0;
    height: 300px;
    width: 100%;
    background: linear-gradient(
      87deg,
      variables.$color-main-violet 0,
      #825ee4 100%
    ) !important;
  }

  &__connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    height: 100%;
    margin-left: calc(variables.$menu-width + 32px);
    border-radius: 16px;
    background-color: variables.$color-light-gray;
  }

  .dashboard {
    &Container {
      width: 100%;
      margin: 20px 30px 20px 310px;
      display: grid;
      grid-template-areas:
        'cards'
        'charts';
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      row-gap: 40px;

      &__cards {
        display: grid;
        grid-area: cards;
      }

      &__charts {
        grid-area: charts;
      }
    }
  }
}
