<div class="mainContent">
  <app-menu class="mainContent__menu" />
  <div class="mainContent__hero">
    <p-toast />
    <app-search-bar class="mainContent__search"
                    [pageTitle]="'Dashboard'" />
    @if (!isConnected) {
    <div class="mainContent__connection">
      <app-connection />
    </div>
    }
  </div>
  @if (isConnected) {
  <div class="dashboardContainer">
    @for (item of [].constructor(6); track $index;) {
      <app-card [cardValues]="cardValueTemp" />
    }
  </div>
  }
</div>