<div class="mainContent">
  <app-menu class="mainContent__menu" />
  <div class="mainContent__hero">
    <p-toast />
    <app-search-bar
      class="mainContent__search"
      [pageTitle]="'Dashboard'" />
    @if (!this.connectionService.$isConnected()) {
      <div class="mainContent__connection">
        <app-connection />
      </div>
    }
  </div>
  @if (this.connectionService.$isConnected()) {
    <div class="dashboardContainer">
      <div class="dashboardContainer__row">
        <app-cards
          class="dashboardContainer__cards"
          [activities$]="rawActivities" />
      </div>
      <div class="dashboardContainer__row">
        <app-charts
          class="dashboardContainer__charts"
          [yearActivities$]="yearRawActivites"
          [activities$]="rawActivities" />
      </div>
    </div>
  }
</div>
