<div class="container">
    <div class="cardResume">
        <div class="cardResume__info">
            <h4 class="title">{{ cardValues.title }}</h4>
            <h4 class="value">
                {{ cardValues.value }}
            </h4>
        </div>
        <app-icon class="cardResume__icon"
                  [icon]="typeIcon"
                  [backgroundColor]="cardValues.color" />
    </div>

    <div class="cardEvolution">
        <div class="cardEvolution__arrow">
            <app-icon [icon]="evolutionIcon"
                      [widthInPx]="16"
                      [heightInPx]="16"
                      [color]="cardIconColor"
                      [backgroundVisible]="false" />
        </div>
        <div class="cardEvolution__value">
            <span class="value">{{ cardValues.evolutionValue }}</span>
            <span class="unit">{{ cardValues.unit }}</span>
        </div>
        <div class="cardEvolution__sentence">
            {{ cardValues.evolutionSentence }}
        </div>
    </div>
</div>