@import 'variables';

.layout {
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 24px;
  max-width: 255px;
  width: 100%;
  background-color: white;
  border-radius: 16px;

  &:hover {
    transform: scale(1.02);
  }

  .cardResume {
    display: flex;
    justify-content: space-between;

    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;

      &Container {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }

    &__skeletonRow {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .title {
      color: #8898aa;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }

    .value {
      color: #32325d;
      font-size: 30px;
      font-weight: 600;
      line-height: 20px;
    }
  }

  .cardEvolution {
    display: flex;
    align-items: center;

    &__value--positive {
      color: $color-green;
    }

    &__value--negative {
      color: $color-light-red;
    }

    &__value {
      margin-left: 5px;

      .value {
        font-size: 14px;
      }

      .unit {
        font-size: 12px;
        margin-left: 2px;
      }
    }

    &__sentence {
      margin-left: 20px;
      color: #8898aa;
      font-weight: 300;
      font-size: 12px;
      text-transform: capitalize;
    }
  }

  &__skeletons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 16px 24px;
    height: 120px;
    border-radius: 16px;
    gap: 10px;

    .row {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 5px;
      gap: 15px;

      &__skeleton {
        display: flex;
        width: 50%;
      }
    }
  }
}
