@use '../../../../styles/variables';
@use "sass:color";

.layout {
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.container {
  display: flex;
  height: 100%;
  gap: 15px;
  border: 1px solid lightgray;
  flex-direction: column;
  padding: 16px 24px;
  max-width: 255px;
  max-height: 120px;
  width: 100%;
  background-color: white;
  border-radius: 16px;

  &:hover {
    transform: scale(1.02);
  }

  .card {
    &__info {
      display: flex;
      gap: 20px;
      position: relative;
    }

    &__icon {
      position: absolute;
      right: 0;
    }

    &__container {
      display: flex;
      align-items: center;
      gap: 3px;
    }

    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__skeletonRow {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__title {
      color: #8898aa;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }

    &__value {
      font-size: 30px;
      font-weight: 600;
      line-height: 20px;
      color: variables.$color-black;

      &--evolution {
        margin-left: 5px;
        font-size: 14px;
        color: variables.$color-black;

        &--positive {
          color: variables.$color-green;
        }

        &--negative {
          color: variables.$color-light-red;
        }
      }
    }

    &__unit {
      color: variables.$color-black;
      font-size: 12px;
      margin-left: 2px;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }

    &__evolution {
      align-items: center;
      display: flex;

      &Overlay {
        background-color: #8898aa;
        align-items: center;
        justify-content: center;
        padding: 3px;
        border-radius: 5px;
        display: flex;

        &--positive {
          background-color: rgba(variables.$color-green, $alpha: .2);
        }

        &--negative {
          background-color: rgba(variables.$color-light-red, $alpha: .2);
        }
      }
    }

    &__sentence {
      margin-left: 10px;
      color: #8898aa;
      font-weight: 300;
      font-size: 12px;
      text-transform: capitalize;
    }
  }

  &__skeletons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 16px 24px;
    height: 120px;
    border-radius: 16px;
    gap: 10px;

    .row {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 5px;
      gap: 15px;

      &__skeleton {
        display: flex;
        width: 50%;
      }
    }
  }
}