@import 'variables';

.roundedBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: lightgrey;

  &--transparent {
    background-color: transparent;
  }
}
