@use 'sass:color';
// sizing
$available-body-height: calc(100vh - (75px + 16px)); // 100vh - navbar height and margin + margin bottom

// fonts
$fontFamily: 'Open Sans', sans-serif;

// colors
$color-black: rgb(23, 23, 34);
$color-black-60: color.adjust($color-black, $lightness: 40%);

$color-light-gray: #f0f0f0;
$color-light-gray-60: #a8a8a8;

$color-white: rgb(255, 255, 255);
$color-white-60: color.adjust($color-white, $lightness: 40%);

// Accents
$color-orange: rgb(251, 99, 64);
$color-orange-60: color.adjust($color-orange, $lightness: 40%);
$color-green: rgb(45, 206, 137);
$color-green-60: color.adjust($color-green, $lightness: 40%);
$color-yellow: rgb(255, 214, 0);
$color-yellow-60: color.adjust($color-yellow, $lightness: 40%);
$color-light-red: rgb(245, 54, 92);
$color-light-red-60: color.adjust($color-light-red, $lightness: 40%);
$color-main-violet: rgb(94, 114, 228);
$color-main-violet-60: color.adjust($color-main-violet, $lightness: 40%);
$color-light-blue: rgb(17, 205, 239);
$color-light-blue-60: color.adjust($color-light-blue, $lightness: 40%);
$color-main-violet-light: rgb(130, 94, 228);
$color-main-violet-light-60: color.adjust(
  $color-main-violet-light,
  $lightness: 40%
);
