// sizing
$menu-width: 250px;

// fonts
$fontFamily: 'Open Sans', sans-serif;

// colors
$color-black: #32325d;
$color-white: rgb(255, 255, 255);
$color-white-60: rgb(255, 255, 255, 0.6);

// Accents
$color-orange: #fb6340;
$color-yellow: #ffd600;
$color-green: #2dce89;
$color-light-blue: #11cdef;
$color-light-red: #f5365c;

$color-light-gray: #efefef;
$color-main-violet: #5e72e4;
$color-main-biolet-light: #825ee4;
