<div class="charts">
    <div class="charts__container">
        <div class="charts__containerTitles">
            <div class="charts__title">
                <h4>Weekly Recap</h4>
            </div>
            <div class="charts__navigation">
                <p-button
                    class="navigation__icon"
                    (click)="setPreviousWeekNumber()"
                    icon="pi pi-chevron-left"
                    [rounded]="true"
                    [size]="'small'"
                    [text]="true" />
                <span class="charts__subtitle">{{ subtitleWeeklyChart$() }}</span>
                <p-button
                    class="navigation__icon"
                    [disabled]="incorrectNextWeek$()"
                    (click)="setNextWeekNumber()"
                    icon="pi pi-chevron-right"
                    [size]="'small'"
                    [rounded]="true"
                    [text]="true" />
            </div>
        </div>
        <canvas
            baseChart
            [data]="weeklyChart$()?.data"
            [options]="weeklyChart$()?.options"
            [type]="'bar'">
        </canvas>
    </div>

    <div class="charts__container">
        <div class="charts__containerTitles">
            <div class="charts__title">
                <h4>Three weeks Evolution</h4>
            </div>
        </div>
        <canvas
            baseChart
            [data]="monthlyChart$()?.data"
            [options]="monthlyChart$()?.options"
            [type]="'bar'">
        </canvas>
    </div>
</div>
