<div class="charts">
  @if (activities$()) {
    <div class="charts__container">
      <div class="navigation navigation--before">
        <p-button
          class="navigation__icon"
          (onClick)="loadPreviousWeekActivities()"
          icon="pi pi-chevron-left"
          [rounded]="true"
          [text]="true"
          severity="help " />
      </div>
      <div
        class="chart"
        echarts
        [options]="chartOptionsWeekly"></div>
      <div class="navigation navigation--after">
        <p-button
          [rounded]="true"
          class="navigation__icon"
          (onClick)="loadNextWeekActivities()"
          icon="pi pi-chevron-right" />
      </div>
    </div>
    <div class="charts__container">
      <div
        class="chart"
        echarts
        [options]="chartOptionsWeeklyEvolutions"></div>
    </div>
  } @else {
    <!-- // todo skeleton -->
  }
</div>
