@import 'variables';

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
  width: 100%;
  gap: 40px;

  &__container {
    height: 100%;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 252px);
    border: 1px solid $color-white;
    border-radius: 16px;
    background: $color-white;
    z-index: 1;

    &Titles {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .title {
      color: #8898aa;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }

    .subtitle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
    }

    .navigation {
      &__icon {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .chart {
      width: 100%;
      height: 100%;
      margin: 5px;
    }
  }
}
