<div class="connection">
    <div class="connection__content">
        @if (!connectionService.isAuthenticated$()) {
            <p-button
                icon="profil__icon pi pi-user"
                label="Sign in"
                (onClick)="connectionService.handleLogin()" />

            <p-button
                icon="profil__icon pi pi-user"
                label="Sign up"
                (onClick)="connectionService.handleSignUp()" />
        } @else {
            <p-button
                icon="profil__icon pi pi-user"
                label="Logout"
                (onClick)="connectionService.handleLogout()" />
        }
    </div>
</div>
