.connection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: rgb(23, 23, 34);
  height: 100%;

  &__content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
  }

  &__action {
    padding: 20px 0;
  }
}
