@import 'variables';

.container {
  display: block;
  position: fixed;
  z-index: 1;
  margin: 16px 0px 16px 24px;
  height: calc(100vh - 32px);
  border-radius: 16px;
  width: $menu-width;
  padding: 20px;
  background-color: $color-white;

  &__logo {
    display: flex;
    height: 50px;
    column-gap: 10px;
    align-items: center;

    .logo {
      height: 100%;
      object-fit: contain;
    }

    .logoText {
      font-weight: 700;
      color: $color-main-violet;
    }
  }

  &__nav {
    margin-top: 60px;
  }
}
