<div class="container">
    <div class="header">
        <img
            [src]="connectedAthlete()?.profile_medium"
            class="header__logo"
            alt="logo" />
        <div class="header__identity">
            <h3 class="header__lastName">{{ connectedAthlete()?.lastname }}</h3>
            <h6 class="header__firstName">{{ connectedAthlete()?.firstname }}</h6>
        </div>
    </div>

    <div class="navigation">
        <div
            class="navigation__container"
            [routerLink]="['/dashboard']"
            routerLinkActive="navigation__container--active">
            <app-icon
                [icon]="'pi pi-chart-bar'"
                [iconSizeInPx]="18"
                [iconColor]="appColors.WHITE"
                [isPrimeNgIcon]="true"
                [backgroundVisible]="false" />
            <span class="navigation__link">Dashboard</span>
        </div>

        <div
            class="navigation__container"
            [routerLink]="['/trainings']"
            routerLinkActive="navigation__container--active">
            <app-icon
                [icon]="'pi pi-wrench'"
                [iconSizeInPx]="18"
                [iconColor]="appColors.DARK"
                [isPrimeNgIcon]="true"
                [backgroundVisible]="false" />
            <span class="navigation__link">Trainings</span>
        </div>
    </div>

    <div class="logout">
        <p-button
            icon="pi pi-sign-out"
            [rounded]="true"
            [size]="'small'"
            [text]="true" />
    </div>
</div>
