@use '../../../../styles/variables';

.inputSearch {
  display: flex;
  align-items: center;
  width: 320px;
  height: 50px;
  border-radius: 32px;
  background-color: transparent;
  border: 1px solid variables.$color-white-60;

  .placeholder {
    margin-left: 10px;
    &__icon {
      color: variables.$color-white-60;
      margin-right: 10px;
    }

    &__text {
      color: variables.$color-white-60;
    }
  }
}
