@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import './styles/_menu';

body {
  margin: 0;
  padding: 0;
  background-color: $color-light-gray;
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}
